* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  background-color: blueviolet;
  color: whitesmoke;
}

.container .section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  justify-content: center;
  height: 50vh;
  width: 50vw;
  background-color: #333;
  box-shadow: 1px 1px 1px 1px #333;
  padding: 15px;
  text-align: center;
}

.question {
  grid-column: 2/3;
  display: flex;
  background-color: whitesmoke;
  color: black;
  justify-content: center;
  align-items: center;
  border: 1px dashed black;
}

.show-info {
  display: block;
}

.hide-info {
  display: none;
}
